@model ProductDto

@{
    ViewData["Title"] = "Create Product";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Create Product</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data" class="row g-3">
                        <div class="col-md-6">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="PhotoPath" class="form-label">Photo</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-image"></i></span>
                                <input type="file" name="photo" class="form-control" />
                            </div>
                            <span asp-validation-for="PhotoPath" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Price" class="form-label">Price</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="Price" class="form-control" />
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>